h1,h2,p{
    margin: 0;
}

header{
    text-align: center;
}

.container{
    background-color: khaki;
}

.col-sm-3 > div{
    background-color: lavender;
}

h2::after{
    opacity: 0.5;
    font-size: 12pt;
}
.card{
    height: 9rem;
    text-align: center;
    padding: 1em 0;
}
.btn{
    overflow: hidden;
}
.uv-green{
    background-color: green;
    color: white;
}
.uv-red{
    color: white;
    background-color: red;
}

.uv-orange{

    background-color: orange;
}
.uv-yellow{

    background-color: yellow;
}
.uv-purple{
    color: white;
    background-color: purple;
}
#search-input{
    background-color: lavender;
}